*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #0f172a;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-safe: #10b981;
  --color-accent: #2563eb;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background-color: var(--color-bg);
  color: #f1f5f9;
}
